<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Challenges ids</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.score %></td>
        <td><%= team.challenges_ids %></td>
        <td><%= link_to 'Show', contest_team_path(contest_id: team.contest.id,id: team) %></td>
        <td><%= link_to 'Edit', edit_contest_team_path(contest_id: team.contest.id,id: team) %></td>
        <td><%= link_to 'Destroy', contest_team_path(contest_id: team.contest.id,id: team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_contest_team_path %>
