<% provide(:title, @contest.name) %>

<div class="bg" style="background-image: url(<%= contest_image_path(@contest) %>);"></div>
<div class="jumbotron">
  <h1><%= @contest.name %></h1>
  <p class="lead"> <%= @contest.description %>
  </p>
<div class="col-md-12">
<% if Time.now < @contest.begins and Time.now < @contest.begins %>
<div data-toggle="countdown" data-time="<%= @contest.begins.to_time.strftime("%Y-%m-%d %H:%M:%S") %>"></div>
<% end %>
</div>
</div>
<script type="text/javascript">
$(function () {
$('[data-toggle="countdown"]').each(function() {
    var momentDate = moment($(this).attr("data-time"), 'YYYY-MM-DD HH:mm:ss');
    var newYear = momentDate.toDate();
    $(this).countdown({until: newYear,onExpiry:function() {location.reload();}});
});
});
</script>
<div class="row">
<% if logged_in? %>
    <% if not has_team_in_contest(current_user,@contest) %>
    <div class="col-md-12">
         <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-info">
            <div class="panel-heading">You P0WN</div>
          <div class="panel-body text-center">
		<% if @contest.open? %>
           <p>You need to join or create a team first!</p>
          <%= link_to "New Team",new_contest_team_url(@contest.id), class: "btn btn-primary" %>
		<% else %>
           <p>You need to join or create a team first! Contact an Administrator</p>
	        <% end %>
</div>
            </div>
    </div>
    </div>
    <% else %>
        <% if Time.now < @contest.begins %>
            <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-hd text-center">Participants</div>
          <div class="panel-body">
            <table class="table">
            <% i = 0
            @teams.first(5).each do |team| %>
                <tr>
                    <td><%= i = i+1 %></td>
                    <th><%= team.name %></th>
                    <% i = 0
                    team.users.each do |user| %>
                    <td><%= user.username %><% i = i +1%></td>
                    <% end %>
                    <% (3-i).times do %>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
            </table>
          </div>
        </div>
    </div>
	<% elsif Time.now > @contest.ends %>
		<div class="col-md-12">
			<table class="table">
			<thead>
			<tr><th>Team Name</th><th>Score</th></tr>
			</thead>
			<tbody>
			<% @teams.each do |team| %>
				<% if team.id != 5 %>
				<tr>
				<td><%= team.name %></td>
				<td><%= team.score %></td>
				</tr>
				<%end%>
			<% end %>
			</tbody>
			</table>
		</div>
        <% else %>
    <div class="col-md-8">
        <% if @contest.challenges.count != 0 %>
        <table class="table challenges-table">
            <% i = 0
            @contest.challenges.each do |challenge|
            %>
            <tr>
                <td><div class="number"> <%= i = i + 1 %>  </div></td>
            <% if team_user(current_user,@contest).challenges_ids.include? challenge.id %>
                <td><%= challenge.name %> <i class="glyphicon glyphicon-ok-circle challenge-done"></i>
                    <div class="category">
                        <% if not challenge.category.nil? %> <%= challenge.category.name %> <% end %>
                    </div>
                </td>

            <%else %>
                <td><%= link_to challenge.name,contest_challenge_path(@contest,challenge) %>
                    <div class="category">
                        <% if not challenge.category.nil? %> <%= challenge.category.name %> <% end %>
                    </div>
                </td>
            <%end %>
                <td><%= challenge.score %></td>
                </tr>
            <% end %>
        </table>
        <% end %>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-hd text-center"><a href="<%= contest_teams_path(@contest) %>">Current Rank</a></div>
          <div class="panel-body">
            <table class="table" id="score">
            <% i = 0
            @teams.first(6).each do |team| %>
      <% if team.id != 5 %>          <tr>
                    <td><%= i = i+1 %></td>
                    <td><%= team.name %></td>
                    <td><%= team.score %></td>
                </tr>
            <% end %><% end %>
            </table>
          </div>
        </div>
        <script type="text/javascript">
            setTimeout(Refresh, (1000 * 60));
            function Refresh() {
               $.getJSON("<%= contest_teams_url(@contest, :format => 'json') %>" ,function(response) {
                      var items = [];
                      $.each( response, function( key, val ) {
                        items.push( "<td>" + (key+1) + "</td><td>" + val.name + "</td><td>" + val.score + "</td>" );
                      });
                      $("#score").html("");
                        $("<tr/>", {
                            html: items.join( "" )
                        }).appendTo($("#score"));
                    setTimeout(Refresh , (1000 * 60))
                });
            }

        </script>
    </div>
    <% end %>
    <% end %>
<% else %>
<% if Time.now > @contest.ends %>
                <div class="col-md-12">
                        <table class="table">
                        <thead>
                        <tr><th>Team Name</th><th>Score</th></tr>
                        </thead>
                        <tbody>
                        <% @teams.each do |team| %>
                                <% if team.id != 5 %>
                                <tr>
                                <td><%= team.name %></td>
                                <td><%= team.score %></td>
                                </tr>
                                <%end%>
                        <% end %>
                        </tbody>
                        </table>
                </div>
<% end %>
<% end %>

</div>
