<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <% if Rails.env.development? %>
      <div class="row">
        <div class="col-md-12">
          <%= debug(params)  %>
        </div>
      </div>
      <% end %>
      <%= render 'layouts/footer' %>
      </div>
  </body>

  <% flash.each do |message_type, message| %>
<script type="text/javascript">
    $(function () {
                    BootstrapDialog.show({
                    type: BootstrapDialog.TYPE_<%= message_type.upcase %>,
                    title: 'You P0WN',
                    message: '<%= message %>'
        });
    });
</script>
<% end %>


</html>